
Калькулятор/bin/Debug/netcoreapp3.1/Калькулятор.deps.json
Калькулятор/obj/Калькулятор.csproj.nuget.g.targets
Калькулятор/obj/Калькулятор.csproj.nuget.g.props
Калькулятор/obj/Калькулятор.csproj.nuget.dgspec.json
Калькулятор/obj/project.nuget.cache
Калькулятор/obj/project.assets.json
Калькулятор/obj/Debug/netcoreapp3.1/Калькулятор.pdb
Калькулятор/obj/Debug/netcoreapp3.1/Калькулятор.genruntimeconfig.cache
Калькулятор/obj/Debug/netcoreapp3.1/Калькулятор.exe
Калькулятор/obj/Debug/netcoreapp3.1/Калькулятор.dll
Калькулятор/obj/Debug/netcoreapp3.1/Калькулятор.csprojAssemblyReference.cache
Калькулятор/obj/Debug/netcoreapp3.1/Калькулятор.csproj.FileListAbsolute.txt
Калькулятор/obj/Debug/netcoreapp3.1/Калькулятор.csproj.CoreCompileInputs.cache
Калькулятор/obj/Debug/netcoreapp3.1/Калькулятор.assets.cache
Калькулятор/obj/Debug/netcoreapp3.1/Калькулятор.AssemblyInfoInputs.cache
Калькулятор/obj/Debug/netcoreapp3.1/Калькулятор.AssemblyInfo.cs
Калькулятор/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Калькулятор/bin/Debug/netcoreapp3.1/Калькулятор.runtimeconfig.json
Калькулятор/bin/Debug/netcoreapp3.1/Калькулятор.runtimeconfig.dev.json
Калькулятор/bin/Debug/netcoreapp3.1/Калькулятор.pdb
Калькулятор/bin/Debug/netcoreapp3.1/Калькулятор.exe
Калькулятор/bin/Debug/netcoreapp3.1/Калькулятор.dll
